<div class="container">
  <form action="/submit" method="POST">

    <div class="form-title">
      <h4>Random Password Generator</h4>
      <p><i class="fa-solid fa-key fa-xs"></i></p>
    </div>

    <div class="input-group">
      <div class="left">
        <p>Password Length</p>
      </div>
      <div class="right">
        <input type="number" name="pwdLength" min="4" max="16">
        <p>Length is available between 4 ~ 16</p>
      </div>
    </div>

    <div class="input-group">
      <div class="left">
        <p>Include Lowercase Characters</p>
      </div>
      <div class="right">
        <input type="checkbox" name="isLowerCase">
        <label for="isLowerCase">(e.g. abcdefg)</label>
      </div>
    </div>

    <div class="input-group">
      <div class="left">
        <p>Include Uppercase Characters</p>
      </div>
      <div class="right">
        <input type="checkbox" name="isUpperCase">
        <label for="isUpperCase">(e.g. ABCDEFG)</label>
      </div>
    </div>

    <div class="input-group">
      <div class="left">
        <p>Include Numbers</p>
      </div>
      <div class="right">
        <input type="checkbox" name="isNumber">
        <label for="isNumber">(e.g. 123456)</label>
      </div>
    </div>

    <div class="input-group">
      <div class="left">
        <p>Include Symbols</p>
      </div>
      <div class="right">
        <input type="checkbox" name="isSymbol">
        <label for="isSymbol">(e.g. @#$%)</label>
      </div>
    </div>

    <div class="input-group">
      <div class="left">
        <p>Exclude Characters</p>
      </div>
      <div class="right">
        <input type="text" name="excludeChar">
        <p>These characters will not appear in this password</p>
      </div>
    </div>

    {{#if pwd.length}}
      <div class="generatorPassword">
        <p class="pwd-title">Your password is: </p>
        <p class="pwd">{{ pwd }}</p>
      </div>
    {{/if}}

    <button class="btn" type="submit">Generator Password</button>

  </form>
</div>